/* VARIABLES */
$playfair: 'Playfair Display', serif;
$sofi: 'Sofia Pro', sans-serif;
$libre: 'Baskerville', serif;
$white: #fff;
$pale: #edd5d5;
$dark: #272727;
$orange: #CC6643; /*D7793E*/
$purple: #553354;
$pink: #96344C;

*{
	box-sizing: border-box;
}

.clearfix{
  &::after{clear: both;}
  &::after, &::before{
    display: table;
    content: "";
  }
}

body {
	background-color: #32292d;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: $white;
  font-weight: bolder;
}

/*-------------header----------*/


.bck {
  background: url(../img/bck.png) no-repeat;
  background-size: cover;
  height: 70vh;
}

header {
  text-align: center;
  padding-top: 6vh; /*115px*/
}

h1 {
	font-family: $playfair;
	color: $pale;
  font-weight: 400;
	font-size: 36px;
}

.header_underline {
  border-bottom: 3px solid $pale;
  margin: 3vh 48vw 8vh;
}

p {
  font-family: $libre;
  font-weight: lighter;
  color: $white;
  font-size: 14px;
}

/*-----------main nav-----------*/

.main_nav {
  width: 300px;
  margin: 0 auto 25px;
  text-align: center;
  font-family: $sofi;
  font-weight: lighter;
  font-size: 14px;
  color: $white;
    & li{
      cursor: pointer;
      display: inline-block;
      background-color: $orange;
      opacity: 0.5;
      width: 44%;
      padding: 7px 3px;
      transition: 0.3s ease-out;
         &.active {
          opacity: 1;
         }
         &:first-child {
          margin-right: 5px;
         }
         &:last-child {
          margin-left: 5px;
         }
    }
}

/*-----------------year nav-------------*/

.year_bar {
   /*position: relative;*/
   color: $white;
   font-family: $sofi;
   font-weight: lighter;
   text-align: center;
     & img {
       cursor: pointer; 
     }
     & li { 
       display: inline-block;
       vertical-align: middle;
     }
}

.wraper {
  height: 80px;
  overflow: hidden;
}

.years {
  /*position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  clip: rect(0px,400px,15px,0px);*/
  /*width: 35vw;
  height: 15px;
  overflow: hidden;*/
  margin-top: -22px;
  width: 32vw;
  padding: 50px 0;
  white-space: nowrap;
  // overflow: -moz-scrollbars-none !important;
  overflow-y: hidden;
  overflow-x: scroll;
    & li {
      display: inline;
      padding: 11px 20px;
      border: 1px solid transparent;
      cursor: pointer;
        &.active {
          border-color: $white;
        }
    }
    // &::-webkit-scrollbar { 
    //  display: none;
    //  } 
}

.left_arrow {
  margin-right: 40px;
     // &:hover {
     //   width: 12px;
     // }
}

.right_arrow {
  margin-left: 40px;
     // &:hover {
     //   width: 12px;
     // }
}


/*---------spinner-------*/

.spinner {
   z-index: 99999;
   position: fixed;
   // visibility: hidden;
   top: 55%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);

}

/*----------genres----------*/

.genres {
  display: none;
  width: 50vw;
  margin: 55px auto 34px;
  text-align: center;
  cursor: pointer;
     & div {
      position: relative;
      width: 300px;
      margin: auto;
        & .fa {
          position: absolute;
          top: 10%;
          left: 60%;
          color: $pale;
           &.fa-caret-up {
            display: none;
           }
        }
     } 
     & .container {
      width: 100%;
      // display: none;
      // margin: auto;
      // height: 150px;
      // overflow-x: hidden;
      // overflow-y: scroll;
     }
  // text-align: justify;
  //   &:after {
  //     content: '';
  //     width: 100%; 
  //     display: inline-block;
  //    }
}

.genres article {
  position: relative;
  display: inline-block;
  height: 25px;
  margin: 4px 2px;
  padding: 0 10px;
  background-color: $purple;
    // &:hover&.active:hover {
    //   background-color: $pink;
    // }
     // &.active{
     //  background-color: $pink;
     // }
    & p {
      display: inline-block;
      margin-left: 4px;
      font-family: $sofi;
      font-weight: lighter;
      color: $white;
      opacity: 1;
      font-size: 10px;
      text-transform: uppercase;
      line-height: 25px;
        &.number {
          vertical-align: middle;
        }
      // line-height: 25px;
    }
    & img {
      display: inline-block;
      padding-left: 8px;
      // position: absolute;
      // bottom: 29%;
      // left: 87%;
    }
    & .checked {
    display: none;
    }
      // & p {
     //  font-size: 12px;
     //  line-height: 50px;
     //  position: absolute;
     //  top: 50%;
     //  left: 50%;
     //  -webkit-transform: translate(-50%, -50%);
     //  -moz-transform: translate(-50%, -50%);
     //  -o-transform: translate(-50%, -50%);
     //  transform: translate(-50%, -50%);
     //  z-index: 999;
     //  background-color: $pink;
     //  width: 100%;
     //  height: 100%;
     //  opacity: 0;
     //     &:hover {
     //      opacity: 1;
     //     }
     // }
}


h2 {
           font-family: $sofi;
           font-weight: lighter;
           color: $pale;
           font-size: 14px;
           padding-bottom: 15px;
        }

/*-----------sort by-----------*/

.sortby{
  position: relative;
     width: 300px;
     margin: 20px auto;
     text-align: center;
      & div {
      display: -webkit-flex;
      -webkit-flex-direction: row;
      display: flex;
      flex-direction: row;
        & a {
          text-transform: uppercase;
          font-family: $sofi;
          color: $white;
          font-weight: lighter;
          padding: 7px 0;
          // border: 1px solid transparent;
          font-size: 14px;
          cursor: pointer;
          -webkit-flex: 1 1 auto;
          flex: 1 1 auto;
          transition: 0.3s ease-out;
            &.active {
              // border-color: $white;
              // color: $white;
              // font-weight: 400;
              // opacity: 1;
            }
        }
      }
      .underl {
        position: absolute;
        top: 100%;
        left: 0%;
        width: 33%;
        border-bottom: 1px solid $white;
        transition: left 0.35s ease-out;
      }
} 


/*-----------covers------------*/

  .card_container{
  float: left;
  width: 25%;
  height: 25vw;
  text-align: center;
  perspective: 600;
  -webkit-perspective: 600;
  -moz-perspective: 600;
  -o-perspective: 600;
  position: relative;
   &:hover .card{
      transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
     }
}

.covers figure img {
  height: 100%;
  width: 100%;
}

figcaption {
  background-color: $pale;
}


.card {
  height: 100%;
  position: absolute;
  transition: all .5s ease-in-out;
  transform-style: preserve-3d;
  -webkit-transition: all .5s ease-in-out;
  -webkit-transform-style: preserve-3d;
  -moz-transition: all .5s ease-in-out;
  -moz-transform-style: preserve-3d;
  -o-transition: all .5s ease-in-out;
  -o-transform-style: preserve-3d;
  width: 100%;
     & .side {
       backface-visibility: hidden;
       -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
       -o-backface-visibility: hidden;
       height: 100%;
       position: absolute;
       top: 0;
       width: 100%;
     }
     & .back {
      transform: rotateY(180deg);
     }
}

.play_b {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.artist, .album {
  max-width: 85%;
  margin: auto;
  color: $dark;
}

.artist {
  font-family: $sofi;
  font-weight: bolder;
  font-size: 16px;
  padding-top: 16%;  /*50px*/

}

.album {
  font-family: $libre;
  font-weight: lighter;
  font-size: 21px;
  padding-top: 4%;   /*15px*/
}

/*--------footer---------*/

footer {
  width: 75vw;
  margin: 30px auto;
  font-family: $sofi;
  color: $white;
  font-weight: lighter;
  font-size: 10px;
      & small{
        float: left;
     }
      & ul {
        float: right;
         & li {
           display: inline-block;
             &:first-child {
              padding-right: 20px;
             }
         }
     }
}

/*--------media queries---------*/

@media(max-width: 1300px){

  .card {
    line-height: 1.4;
  }
  .artist, .album {
  max-width: 90%;
  } 
}

@media(max-width: 1200px) {

  .card { 
    line-height: 1.3;
  }
  .album {
    font-size: 20px;
  }
  .play_b {
    top: 65%;
    width: 35px;
  }
}

@media(max-width: 1020px) {

  .play_b {
    top: 70%;
  }
}

@media(max-width: 920px) {

  header {
    padding-top: 5%;
  }
  .play_b {
    top: 70%;
  }
  .artist {
    font-size: 14px;
  }

  .album {
    font-size: 18px;
  }
}

@media(max-width: 768px) {

  .years {
    width: 45vw;
  }
  
  .genres {
    width: 75vw;
  }

  .card_container {
    width: 33.3%;
    height: 33.3vw;
  }

  .arist, .album {
     max-width: 95%;
  }

  footer {
    width: 85vw;
    text-align: center;
        & small{
          float: none;
        }
        & ul {
          padding: 15px 0;
          float: none;
        }
  }
}

@media(max-width: 600px){

  .play_b {
    top: 75%;
    width: 30px;
  }
  .artist {
    font-size: 12px;
  }

  .album {
    font-size: 16px;
  }

  .play_button {
    width: 25px;
    top: 75%;
  }
}

@media(max-width: 500px) {
   .years {
    width: 60vw;
  }
}

@media(max-width: 420px) {

  h1 {
    font-size: 30px;
  }

  .header_underline {
  margin-left: 40vw;
  margin-right: 40vw;
  }

  .genres {
    width: 90vw;
  }

  .card_container {
    width: 50%;
    height: 50vw;
  }

  // .left_arrow, .right_arrow {
  //   display: none;
  // }

}


















