/* VARIABLES */
/*D7793E*/
/* line 12, main.scss */
* {
  box-sizing: border-box; }

/* line 17, main.scss */
.clearfix::after {
  clear: both; }
/* line 18, main.scss */
.clearfix::after, .clearfix::before {
  display: table;
  content: ""; }

/* line 24, main.scss */
body {
  background-color: #32292d;
  line-height: 1.5; }

/* line 29, main.scss */
a {
  text-decoration: none;
  color: #fff;
  font-weight: bolder; }

/*-------------header----------*/
/* line 38, main.scss */
.bck {
  background: url(../img/bck.png) no-repeat;
  background-size: cover;
  height: 70vh; }

/* line 44, main.scss */
header {
  text-align: center;
  padding-top: 6vh
  /*115px*/ }

/* line 49, main.scss */
h1 {
  font-family: "Playfair Display", serif;
  color: #edd5d5;
  font-weight: 400;
  font-size: 36px; }

/* line 56, main.scss */
.header_underline {
  border-bottom: 3px solid #edd5d5;
  margin: 3vh 48vw 8vh; }

/* line 61, main.scss */
p {
  font-family: "Baskerville", serif;
  font-weight: lighter;
  color: #fff;
  font-size: 14px; }

/*-----------main nav-----------*/
/* line 70, main.scss */
.main_nav {
  width: 300px;
  margin: 0 auto 25px;
  text-align: center;
  font-family: "Sofia Pro", sans-serif;
  font-weight: lighter;
  font-size: 14px;
  color: #fff; }
  /* line 78, main.scss */
  .main_nav li {
    cursor: pointer;
    display: inline-block;
    background-color: #CC6643;
    opacity: 0.5;
    width: 44%;
    padding: 7px 3px;
    -webkit-transition: 0.3s ease-out;
            transition: 0.3s ease-out; }
    /* line 86, main.scss */
    .main_nav li.active {
      opacity: 1; }
    /* line 89, main.scss */
    .main_nav li:first-child {
      margin-right: 5px; }
    /* line 92, main.scss */
    .main_nav li:last-child {
      margin-left: 5px; }

/*-----------------year nav-------------*/
/* line 100, main.scss */
.year_bar {
  /*position: relative;*/
  color: #fff;
  font-family: "Sofia Pro", sans-serif;
  font-weight: lighter;
  text-align: center; }
  /* line 106, main.scss */
  .year_bar img {
    cursor: pointer; }
  /* line 109, main.scss */
  .year_bar li {
    display: inline-block;
    vertical-align: middle; }

/* line 115, main.scss */
.wraper {
  height: 80px;
  overflow: hidden; }

/* line 120, main.scss */
.years {
  /*position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  clip: rect(0px,400px,15px,0px);*/
  /*width: 35vw;
  height: 15px;
  overflow: hidden;*/
  margin-top: -22px;
  width: 32vw;
  padding: 50px 0;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll; }
  /* line 139, main.scss */
  .years li {
    display: inline;
    padding: 11px 20px;
    border: 1px solid transparent;
    cursor: pointer; }
    /* line 144, main.scss */
    .years li.active {
      border-color: #fff; }

/* line 153, main.scss */
.left_arrow {
  margin-right: 40px; }

/* line 160, main.scss */
.right_arrow {
  margin-left: 40px; }

/*---------spinner-------*/
/* line 170, main.scss */
.spinner {
  z-index: 99999;
  position: fixed;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

/*----------genres----------*/
/* line 185, main.scss */
.genres {
  display: none;
  width: 50vw;
  margin: 55px auto 34px;
  text-align: center;
  cursor: pointer; }
  /* line 191, main.scss */
  .genres div {
    position: relative;
    width: 300px;
    margin: auto; }
    /* line 195, main.scss */
    .genres div .fa {
      position: absolute;
      top: 10%;
      left: 60%;
      color: #edd5d5; }
      /* line 200, main.scss */
      .genres div .fa.fa-caret-up {
        display: none; }
  /* line 205, main.scss */
  .genres .container {
    width: 100%;
    display: none; }

/* line 221, main.scss */
.genres article {
  position: relative;
  display: inline-block;
  height: 25px;
  margin: 4px 2px;
  padding: 0 10px;
  background-color: #553354;
  opacity: 0.6; }
  /* line 229, main.scss */
  .genres article:hover, .genres article.active:hover {
    background-color: #96344C; }
  /* line 232, main.scss */
  .genres article.active {
    background-color: #553354;
    opacity: 1; }
  /* line 236, main.scss */
  .genres article p {
    display: inline-block;
    margin-left: 4px;
    font-family: "Sofia Pro", sans-serif;
    font-weight: lighter;
    color: #fff;
    opacity: 1;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 25px; }
    /* line 246, main.scss */
    .genres article p.number {
      vertical-align: middle; }
  /* line 251, main.scss */
  .genres article img {
    display: inline-block;
    padding-left: 8px; }
  /* line 258, main.scss */
  .genres article .box {
    display: none; }

/* line 283, main.scss */
h2 {
  font-family: "Sofia Pro", sans-serif;
  font-weight: lighter;
  color: #edd5d5;
  font-size: 14px;
  padding-bottom: 15px; }

/*-----------sort by-----------*/
/* line 293, main.scss */
.sortby {
  position: relative;
  width: 300px;
  margin: 20px auto;
  text-align: center; }
  /* line 298, main.scss */
  .sortby div {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
    /* line 303, main.scss */
    .sortby div a {
      text-transform: uppercase;
      font-family: "Sofia Pro", sans-serif;
      color: #fff;
      font-weight: lighter;
      padding: 7px 0;
      font-size: 14px;
      cursor: pointer;
      -webkit-flex: 1 1 auto;
      -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
              flex: 1 1 auto;
      -webkit-transition: 0.3s ease-out;
              transition: 0.3s ease-out; }
  /* line 323, main.scss */
  .sortby .underl {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 33%;
    border-bottom: 1px solid #fff;
    -webkit-transition: left 0.35s ease-out;
            transition: left 0.35s ease-out; }

/*-----------covers------------*/
/* line 336, main.scss */
.card_container {
  float: left;
  width: 25%;
  height: 25vw;
  text-align: center;
  perspective: 600;
  -webkit-perspective: 600;
  -moz-perspective: 600;
  -o-perspective: 600;
  position: relative; }
  /* line 346, main.scss */
  .card_container:hover .card {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg); }

/* line 354, main.scss */
.covers figure img {
  height: 100%;
  width: 100%; }

/* line 359, main.scss */
figcaption {
  background-color: #edd5d5; }

/* line 364, main.scss */
.card {
  height: 100%;
  position: absolute;
  -webkit-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all .5s ease-in-out;
  -webkit-transform-style: preserve-3d;
  -moz-transition: all .5s ease-in-out;
  -moz-transform-style: preserve-3d;
  -o-transition: all .5s ease-in-out;
  -o-transform-style: preserve-3d;
  width: 100%; }
  /* line 376, main.scss */
  .card .side {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%; }
  /* line 386, main.scss */
  .card .back {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg); }

/* line 391, main.scss */
.play_b {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

/* line 401, main.scss */
.artist, .album {
  max-width: 85%;
  margin: auto;
  color: #272727; }

/* line 407, main.scss */
.artist {
  font-family: "Sofia Pro", sans-serif;
  font-weight: bolder;
  font-size: 16px;
  padding-top: 16%
  /*50px*/ }

/* line 415, main.scss */
.album {
  font-family: "Baskerville", serif;
  font-weight: lighter;
  font-size: 21px;
  padding-top: 4%
  /*15px*/ }

/*--------footer---------*/
/* line 424, main.scss */
footer {
  width: 75vw;
  margin: 30px auto;
  font-family: "Sofia Pro", sans-serif;
  color: #fff;
  font-weight: lighter;
  font-size: 10px; }
  /* line 431, main.scss */
  footer small {
    float: left; }
  /* line 434, main.scss */
  footer ul {
    float: right; }
    /* line 436, main.scss */
    footer ul li {
      display: inline-block; }
      /* line 438, main.scss */
      footer ul li:first-child {
        padding-right: 20px; }

/*--------media queries---------*/
@media (max-width: 1300px) {
  /* line 449, main.scss */
  .card {
    line-height: 1.4; }

  /* line 452, main.scss */
  .artist, .album {
    max-width: 90%; } }
@media (max-width: 1200px) {
  /* line 459, main.scss */
  .card {
    line-height: 1.3; }

  /* line 462, main.scss */
  .album {
    font-size: 20px; }

  /* line 465, main.scss */
  .play_b {
    top: 65%;
    width: 35px; } }
@media (max-width: 1020px) {
  /* line 473, main.scss */
  .play_b {
    top: 70%; } }
@media (max-width: 920px) {
  /* line 480, main.scss */
  header {
    padding-top: 5%; }

  /* line 483, main.scss */
  .play_b {
    top: 70%; }

  /* line 486, main.scss */
  .artist {
    font-size: 14px; }

  /* line 490, main.scss */
  .album {
    font-size: 18px; } }
@media (max-width: 768px) {
  /* line 497, main.scss */
  .years {
    width: 45vw; }

  /* line 501, main.scss */
  .genres {
    width: 75vw; }

  /* line 505, main.scss */
  .card_container {
    width: 33.3%;
    height: 33.3vw; }

  /* line 510, main.scss */
  .arist, .album {
    max-width: 95%; }

  /* line 514, main.scss */
  footer {
    width: 85vw;
    text-align: center; }
    /* line 517, main.scss */
    footer small {
      float: none; }
    /* line 520, main.scss */
    footer ul {
      padding: 15px 0;
      float: none; } }
@media (max-width: 600px) {
  /* line 529, main.scss */
  .play_b {
    top: 75%;
    width: 30px; }

  /* line 533, main.scss */
  .artist {
    font-size: 12px; }

  /* line 537, main.scss */
  .album {
    font-size: 16px; }

  /* line 541, main.scss */
  .play_button {
    width: 25px;
    top: 75%; } }
@media (max-width: 500px) {
  /* line 548, main.scss */
  .years {
    width: 60vw; } }
@media (max-width: 420px) {
  /* line 555, main.scss */
  h1 {
    font-size: 30px; }

  /* line 559, main.scss */
  .header_underline {
    margin-left: 40vw;
    margin-right: 40vw; }

  /* line 564, main.scss */
  .genres {
    width: 90vw; }

  /* line 568, main.scss */
  .card_container {
    width: 50%;
    height: 50vw; } }

/*# sourceMappingURL=main.css.map */