/* VARIABLES */
/*D7793E*/
/* line 13, main.scss */
* {
  box-sizing: border-box; }

/* line 18, main.scss */
.clearfix::after {
  clear: both; }
/* line 19, main.scss */
.clearfix::after, .clearfix::before {
  display: table;
  content: ""; }

/* line 25, main.scss */
body {
  background-color: #32292d;
  line-height: 1.5; }

/* line 30, main.scss */
a {
  text-decoration: none;
  color: #fff;
  font-weight: bolder; }

/*-------------header----------*/
/* line 39, main.scss */
.bck {
  background: url(../img/bck.png) no-repeat;
  background-size: cover;
  height: 70vh; }

/* line 45, main.scss */
header {
  text-align: center;
  padding-top: 9vh
  /*115px*/ }

/* line 50, main.scss */
h1 {
  font-family: "Playfair Display", serif;
  color: #edd5d5;
  font-weight: 400;
  font-size: 36px; }

/* line 57, main.scss */
.header_underline {
  border-bottom: 3px solid #edd5d5;
  margin: 3vh 47vw 6vh; }

/* line 62, main.scss */
p {
  font-family: "Baskerville", serif;
  font-weight: lighter;
  color: #fff;
  font-size: 14px; }

/*-----------------year nav-------------*/
/* line 71, main.scss */
.year_bar {
  /*position: relative;*/
  color: #fff;
  font-family: "Sofia Pro", sans-serif;
  font-weight: lighter; }
  /* line 76, main.scss */
  .year_bar img {
    cursor: pointer; }
  /* line 79, main.scss */
  .year_bar li {
    display: inline-block;
    vertical-align: middle; }

/* line 85, main.scss */
.years {
  /*position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  clip: rect(0px,400px,15px,0px);*/
  /*width: 35vw;
  height: 15px;
  overflow: hidden;*/
  width: 32vw;
  padding: 10% 0;
  white-space: nowrap;
  overflow: -moz-scrollbars-none !important;
  overflow-y: hidden;
  overflow-x: scroll; }
  /* line 103, main.scss */
  .years li {
    display: inline;
    padding: 10px 20px;
    cursor: pointer; }
    /* line 108, main.scss */
    .years li.active, .years li:hover {
      color: #AAF0D1; }
  /* line 112, main.scss */
  .years::-webkit-scrollbar {
    display: none; }

/* line 117, main.scss */
.left_arrow {
  margin-right: 40px; }
  /* line 119, main.scss */
  .left_arrow:hover {
    width: 12px; }

/* line 124, main.scss */
.right_arrow {
  margin-left: 40px; }
  /* line 126, main.scss */
  .right_arrow:hover {
    width: 12px; }

/*---------spinner-------*/
/* line 134, main.scss */
.spinner {
  z-index: 99999;
  position: fixed;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

/*----------genres----------*/
/*-----------sort by-----------*/
/* line 208, main.scss */
.sortby {
  width: 25vw;
  margin: 2% auto 5%;
  text-align: center; }
  /* line 212, main.scss */
  .sortby h2 {
    font-family: "Sofia Pro", sans-serif;
    color: #fff;
    font-size: 14px;
    padding-bottom: 15px; }
  /* line 218, main.scss */
  .sortby div {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
    /* line 223, main.scss */
    .sortby div a {
      font-family: "Sofia Pro", sans-serif;
      font-weight: lighter;
      font-size: 16px;
      cursor: pointer;
      -webkit-flex: 1 1 auto;
      -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
              flex: 1 1 auto; }
      /* line 230, main.scss */
      .sortby div a.active, .sortby div a:hover {
        color: #AAF0D1; }

/*-----------covers------------*/
/* line 240, main.scss */
.card_container {
  float: left;
  width: 25%;
  height: 25vw;
  text-align: center;
  perspective: 600;
  -webkit-perspective: 600;
  -moz-perspective: 600;
  -o-perspective: 600;
  position: relative; }
  /* line 250, main.scss */
  .card_container:hover .card {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg); }

/* line 258, main.scss */
.covers figure img {
  height: 100%;
  width: 100%; }

/* line 263, main.scss */
figcaption {
  background-color: #edd5d5; }

/* line 268, main.scss */
.card {
  height: 100%;
  position: absolute;
  -webkit-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all .5s ease-in-out;
  -webkit-transform-style: preserve-3d;
  -moz-transition: all .5s ease-in-out;
  -moz-transform-style: preserve-3d;
  -o-transition: all .5s ease-in-out;
  -o-transform-style: preserve-3d;
  width: 100%; }
  /* line 280, main.scss */
  .card .side {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%; }
  /* line 290, main.scss */
  .card .back {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg); }

/* line 295, main.scss */
.play_b {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

/* line 305, main.scss */
.artist, .album {
  max-width: 85%;
  margin: auto;
  color: #272727; }

/* line 311, main.scss */
.artist {
  font-family: "Sofia Pro", sans-serif;
  font-weight: bolder;
  font-size: 16px;
  padding-top: 16%
  /*50px*/ }

/* line 319, main.scss */
.album {
  font-family: "Baskerville", serif;
  font-weight: lighter;
  font-size: 21px;
  padding-top: 4%
  /*15px*/ }

/*--------footer---------*/
/* line 328, main.scss */
footer {
  width: 75vw;
  margin: 30px auto;
  font-family: "Sofia Pro", sans-serif;
  color: #fff;
  font-weight: lighter;
  font-size: 10px; }
  /* line 335, main.scss */
  footer small {
    float: left; }
  /* line 338, main.scss */
  footer ul {
    float: right; }
    /* line 340, main.scss */
    footer ul li {
      display: inline-block; }
      /* line 342, main.scss */
      footer ul li:first-child {
        padding-right: 20px; }

/*--------media queries---------*/
@media (max-width: 1300px) {
  /* line 352, main.scss */
  .card {
    line-height: 1.4; }

  /* line 355, main.scss */
  .artist, .album {
    max-width: 90%; } }
@media (max-width: 1200px) {
  /* line 361, main.scss */
  .card {
    line-height: 1.3; }

  /* line 364, main.scss */
  .album {
    font-size: 20px; }

  /* line 367, main.scss */
  .play_b {
    top: 65%;
    width: 35px; } }
@media (max-width: 1020px) {
  /* line 374, main.scss */
  .play_b {
    top: 70%; } }
@media (max-width: 920px) {
  /* line 380, main.scss */
  header {
    padding-top: 5%; }

  /* line 383, main.scss */
  .play_b {
    top: 70%; }

  /* line 386, main.scss */
  .artist {
    font-size: 14px; }

  /* line 390, main.scss */
  .album {
    font-size: 18px; } }
@media (max-width: 768px) {
  /* line 398, main.scss */
  .genres article:hover {
    background-color: #CC6643; }
  /* line 401, main.scss */
  .genres article.active_genre:hover {
    background-color: #553354; }

  /* line 406, main.scss */
  .years {
    width: 45vw; }

  /* line 410, main.scss */
  .card_container {
    width: 33.3%;
    height: 33.3vw; }

  /* line 415, main.scss */
  .arist, .album {
    max-width: 95%; }

  /* line 419, main.scss */
  footer {
    width: 85vw;
    text-align: center; }
    /* line 422, main.scss */
    footer small {
      float: none; }
    /* line 425, main.scss */
    footer ul {
      padding: 15px 0;
      float: none; } }
@media (max-width: 600px) {
  /* line 433, main.scss */
  .play_b {
    top: 75%;
    width: 30px; }

  /* line 437, main.scss */
  .artist {
    font-size: 12px; }

  /* line 441, main.scss */
  .album {
    font-size: 16px; }

  /* line 445, main.scss */
  .play_button {
    width: 25px;
    top: 75%; } }
@media (max-width: 500px) {
  /* line 452, main.scss */
  .years {
    width: 60vw; } }
@media (max-width: 420px) {
  /* line 459, main.scss */
  h1 {
    font-size: 30px; }

  /* line 463, main.scss */
  .header_underline {
    margin-left: 40vw;
    margin-right: 40vw; }

  /* line 468, main.scss */
  .card_container {
    width: 50%;
    height: 50vw; } }

/*# sourceMappingURL=main.css.map */